<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CCC6C951C17AB9D00FA5714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CCC6CAE1C17AB9D00FA5714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CCC6CB91C17AB9D00FA5714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
